@page
@model LoginModel
@{
    ViewData["Title"] = "Iniciar sesión";
}

<form method="post">
    <div class="login-card">
        <h5 class="card-title text-center mb-4">Iniciar Sesión</h5>
        <form method="post">
            <div class="mb-3">
                <label for="Input_Legajo" class="form-label">Usuario</label>
                <input asp-for="Input.Legajo" class="form-control" placeholder="Ingresa tu usuario" />
                <span asp-validation-for="Input.Legajo" class="text-danger small mt-1"></span>
            </div>
            <div class="mb-3">
                <label for="Input_Contrasena" class="form-label">Contraseña</label>
                <div class="input-group">
                    <input asp-for="Input.Contrasena" type="password" class="form-control" placeholder="Ingresa tu contraseña" />
                    <span class="input-group-text">
                        <i class="bi bi-eye"></i>
                    </span>
                </div>
                <span asp-validation-for="Input.Contrasena" class="text-danger small mt-1"></span>
            </div>
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary btn-lg">INGRESAR</button>
            </div>
        </form>
    </div>
</form>
